:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-heading-color: #212121;
    --main-text-color: #757575;
    --main-background-color: #2F303A;
    --main-current-color: #2196F3;
    --logo-color: #000000;
    --logo-svg-main-color: #AFB1B8;
    --main-text-size: 14px;
    --title-text-size: 36px;
    --title-main: 44px;
    --title-main-webstudio: 26px;
    --main-scnd-text-size: 16px;  
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    font-style: normal;
    font-size: var(--main-text-size);
    line-height: 1.2;
    letter-spacing: 0.03em;
}

main p {
    color: var(--main-text-color);
}

h2,h3 {
    color: var(--main-heading-color);
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 500;
}

/* index */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px dashed red; */
}
.flex {
    display: flex;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
    /* display: flex;
    align-items: center; */
}

.header-list {
    font-weight: 500;
    align-items: center;
    gap: 50px;
}


nav span {
    color: var(--main-current-color);
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--logo-color);
    text-decoration: none;
    font-size: var(--title-main-webstudio);
    margin-right: 93px;
}

.header-link {
    color: var(--main-heading-color);
    text-decoration: none;
    position: relative;
}

.header-link-current {
    color: var(--main-current-color);
}
.header-link.current::after {
    content: "";
    display: block;
    background-color: var(--main-current-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    margin-top: 28px;
    position: absolute;
}
.header-link.current {
    color: var(--main-current-color);
}
.header-link-contacts {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-text-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--main-current-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-svg {
    display: flex;
    align-items: center;
}
.header-list.contacts {
    margin-left: auto;
}
.header-icon-svg {
    fill: currentColor;
}

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    background-color: var(--main-background-color);
    background-image:
    linear-gradient(
    180deg, 
    rgba(47, 48, 58, 0.4) 0%, 
    rgba(130, 132, 160, 0.4) 100%),
    url("../images/main/team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.main-button {
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
    min-width: 216px;   
    color: white;
    background-color: rgba(33, 150, 243, 80%);
    height: 50px;
    width: 216px;  
}
.main-button:hover {
    background-color: var(--main-current-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: var(--title-main);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contacts {
    margin-right: 0;
    align-items: center;
    gap: 50px;
}

.features  {
    padding-top: 94px;
}
.features-list-item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
}
.features-list-item.antena::before {
    background-image: url(../images/main/antenna.svg);
}
.features-list-item.clock::before {
    background-image: url(../images/main/clock.svg);
}
.features-list-item.diagram::before {
    background-image: url(../images/main/diagram.svg);
}
.features-list-item.astronaut::before {
    background-image: url(../images/main/astronaut.svg);
}
.features-title {
    margin-bottom: 10px;
    text-transform: uppercase;
}
.features-description{
    font-weight: 400;
    font-size: var(--main-text-size);
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/* .features-main-title {
    display: none;
} */
.features-list {
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.work-image {
    display: block;
    max-width: 100%;
    height: auto;
}
.work-list-description {
    display: flex;
    position: absolute;
    background-color: rgba(47, 48, 58, 80%);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    width: 370px;
    height: 70px;
    color: #FFFFFF;
    justify-content: center;
    padding: 27px;
    left: 0;
    bottom: 0;
}

.work-main-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: var(--title-text-size);
    letter-spacing: 0.03em;
}
.work-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 0;
}
.work-list-item {
    position: relative;
}

.team-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: var(--title-text-size);
    letter-spacing: 0.03em;
}
.team {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
    gap: 30px;
    padding-left: 0;
    
}
.team-name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-proffesion {
    margin-bottom: 16px;
}
.team-icons-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 30px;
}
.team-icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    transition-property: background-color, fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-item > a {
    height: 20px;
}
.team-icons-item:hover {
    background-color: var(--main-current-color);
}
.team-icons-item:hover .team-icons-svg {
    fill: #FFFFFF;
}
.team-icons-svg {
    fill: var(--logo-svg-main-color);
}
.team-list-item {
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-item:hover {
    box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.regular-customers-section {
    padding-bottom: 94px;
}
.regular-customers-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
    padding-top: 107px;
}
.regular-customers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-left: 0;
}
.regular-customers-item {
    display: flex;
    justify-content: center;
    width: 170px;
    border: var(--logo-svg-main-color) 1px solid;
    border-radius: 4px;
    padding: 16px 32px;
    border: #AFB1B8 1px solid;
    transition-property: border, fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    
}
.regular-customers-link {
    fill: #AFB1B8;
}
.regular-customers-item:hover {
    border: var(--main-current-color) 1px solid;
}
.regular-customers-item:hover .regular-customers-link {
    fill: var(--main-current-color);
}

/* footer */

.footer {
    padding: 60px;
    padding-bottom: 60px;
    background-color: var(--main-background-color);
}
.footer-logo {
    margin-bottom: 20px;
}

footer a {
    color: rgba(255, 255, 255, 60%);
}
.flex-footer {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    display: flex;
    align-items: baseline;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: var(--title-main-webstudio);
}
.footer-adress {
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.footer-link-gmail {
    margin-bottom: 9px;
    margin-top: 9px;
}

footer span {
    color: var(--main-current-color);
}
footer p {
    color: #FFFFFF;
}
a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
    .footer-title-icons {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }
    .footer-icons{
        margin-left: 70px;
    }
    .footer-icons-list {
        display: flex;
        gap: 10px;
    }
    .footer-icons-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 10%);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        padding: 0;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icons-item > a {
        height: 20px;
    }
    
    .footer-icons-item:hover {
        background-color: var(--main-current-color);
    }
    .footer-icons-svg {
        fill: #FFFFFF;
    }
    .footer-subscribe {
        margin-left: 93px;
    }
    .footer-subscribe-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }
    .footer-subscribe-form {
        display: flex;
    }
    .footer-subscribe-input {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        width: 358px;
        height: 50px;
        background-color: transparent;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        padding: 16px 15px;
    }
    .footer-subscribe-button {
        display: flex;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
         align-items: center;
        color: #fff;
        padding: 10px 28px;
        margin-left: 12px;
        border-radius: 4px;
        background-color: #2195f3b9;
        color: #FFF;
    }
    .footer-subscribe-button:hover {
        background-color: var(--main-current-color);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-subscribe-icon {
        display: flex;
        fill: #FFF;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

/* modal */

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        transition: opacity 500ms ease-in-out;
        }
        
        .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        }
        
        .no-scroll {
        overflow: hidden;
        }
        
        .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 528px;
        min-height: 581px;
        padding: 40px;
        border-radius: 4px;
        background-color: #FFFFFF;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms, color 300ms;
        }
        .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.7);
        }
        .modal-title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--main-heading-color);
        }
        .modal-close-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.1);;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .modal-close-btn:hover {
            fill: var(--main-current-color);
        }
        .modal-input {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            width: 448px;
            height: 40px;
            padding: 11px 12px;
            outline: none;
            width: 100%;
        }
        .modal-textarea {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            width: 448px;
            height: 120px;
            outline: none;
            padding: 12px 16px;
            resize: none;
        }   
        .modal-label {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .modal-field {
            margin: 10px;
        }
        .modal-field:focus-within .modal-input  {
            border: 1px solid var(--main-current-color);
        }
        .modal-field:focus-within .modal-textarea  {
            border: 1px solid var(--main-current-color);
        }
        .modal-checkbox {
            margin-top: 17px;
            fill: var(--main-heading-color);
        }
        .modal-checkbox-span {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--main-current-color);
        }


/* portfolio */



.main-portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}
.main-title {
    display: none;
}
.main-list {
    margin-bottom: 34px;
    text-align: center;
    gap: 8px;
}
.main-nav {
    align-items: center;
    justify-content: center;
    
}
button {
    background-color: #F5F4FA;
    color: var(--main-heading-color);
    font-size: medium;
    
}
.btn-portfolio {
    padding: 6px 22px;
    font-weight: 500;
    font-size: var(--main-scnd-text-size);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
    border: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover{
    background-color: var(--main-current-color);
    color: #FFFFFF;
    box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.12), 
    0 1px 2px 0 rgba(0, 0, 0, 0.08), 
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.main-btn-all {
    width: 73px;
    height: 38px;
    border-radius: 4px;
}
.main-btn-web {
    width: 125px;
    height: 38px;
    border-radius: 4px;
}
.main-btn-app {
    width: 112px;
    height: 38px;
    border-radius: 4px;
}
.main-btn-dsgn {
    width: 103px;
    height: 38px;
    border-radius: 4px;
}
.main-btn-mark {
    width: 130px;
    height: 38px;
    border-radius: 4px;
}

.main-projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
    padding-left: 0;
    
}
.project-image-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 500ms ease-in;
    padding: 63px 24px;
}
.overlay-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
}
.main-project-list:hover .overlay {
    transform: translateY(0%);
}
.overlay-box {
    width: 370px;
    height: 294px;
    overflow: hidden;
    position: relative;
}

.main-project-list {
    flex-basis: 200px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-project-list:hover {
    box-shadow:
    1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.project-info {
    border: 1px solid #eee;
    border-top: none;
    padding: 20px 24px;
}
.project-title {
    margin-bottom: 4px;
}
.project-description {
    /* margin-bottom: 20px; */
}
