header a {
    color: black;
}
.WebStudio-frst {
    color: blue;
}
.number-header {
    color: grey;
}

main p {
    color: grey;
}
.sect-first  {
    color: white;
    background-color: #2F303A;
}
.sect-first button {
    color: white;
    background-color: #2196F3;  
}

footer {
    background-color: #2F303A;
}
footer a {
    color: grey;
}

.WebStudio-scnd {
    color: blue;
}